@import '../../../styles/colors.module';
@import '../../../styles/fonts.module';
@import '../../../styles/numbers.module';
@import '../../../styles/shadows.module';

.footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: $big-number;
  padding: $small-number 0;
  height: 30px;
  max-width: 100%;
  box-shadow: $base-shadow;
  background-color: $lightest-color;
}

.footerText {
  font-family: $fancy-font;
  color: $darkest-color;
}

.gitHubLink,
.rsSchoolLink {
  margin: 0 $big-number;
}
