@import '../../../styles/colors.module';
@import '../../../styles/fonts.module';
@import '../../../styles/numbers.module';
@import '../../../styles/shadows.module';

.modalBackground {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: $standart-number;
  border-radius: $standart-number;
  padding: $big-number;
  height: $standart-number * 5;
  max-width: $standart-number * 25;
  box-shadow: $base-shadow;
  font-family: $fancy-font;
  font-size: $standart-number;
  color: $darkest-color;
  background-color: $lightest-color;
}

.modalDescription {
  display: flex;
  font-family: $fancy-font;
  text-align: center;
}

.buttonsWrapper {
  margin-top: $standart-number;
}
