$lightest-color: #e5fcff;
$light-color: #abdafc;
$light-color-transparent: #abdafc7c;
$basic-color-transparent: #acacde89;
$basic-color: #acacde;
$dusty-color: #c490d1;
$dark-color: #b8336a;
$dark-color-transparent: #b8336a7c;
$contrast-color: #218380;
$darkest-color: #48435c;
$transparent: rgb(228 237 242 / 0%);
$white: #fff;
$red: #f00;
