@import './colors.module';
@import './fonts.module';
@import './numbers.module';
@import './shadows.module';

.pageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: $standart-number;
  border-radius: $standart-number;
  padding: $standart-number;
  height: fit-content; // do not touch
  box-shadow: $base-shadow;
  font-family: $fancy-font;
  font-size: $standart-number;
  text-align: center;
  color: $darkest-color;
  background-color: $lightest-color;
}

.pageHeading {
  margin: $standart-number;
  margin-bottom: 0;
}

.pageHeading::after {
  content: '';
  display: block;
  margin: 15px auto;
  width: 50%;
  height: $normal-border;
  background-color: $dark-color;
}

.pageDescription {
  margin: $standart-number;
  max-width: $standart-number * 25;
}

.hidden {
  display: none;
}
