@import '../../../../styles/colors.module';
@import '../../../../styles/fonts.module';
@import '../../../../styles/numbers.module';
@import '../../../../styles/shadows.module';

.inputContainer {
  margin: $small-pixel;
  height: $standart-pixel * 3.5;
  max-width: $standart-number * 13.5;
}

.inputField {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  outline: none;
  border: $normal-border solid $dusty-color;
  border-radius: $standart-number;
  padding: $small-pixel;
  max-width: 100%;
  box-sizing: border-box;
  font-family: $fancy-font;
  font-size: $small-number * 1.5;
  text-align: center;
  color: $dusty-color;
}

.inputField:focus {
  border-color: $dark-color;
  color: $dark-color;
}

.errorElement {
  margin: $small-pixel 0;
  max-width: $standart-number * 10;
  font-family: $base-font;
  font-size: $small-number * 1.2;
  color: $dusty-color;
}
