@import '../../../styles/colors.module';
@import '../../../styles/fonts.module';
@import '../../../styles/numbers.module';
@import '../../../styles/shadows.module';

.mainPage {
  margin: 0 $standart-number;
  width: 85%;
}
