@import '../../../styles/colors.module';
@import '../../../styles/fonts.module';
@import '../../../styles/numbers.module';
@import '../../../styles/shadows.module';

.dialogueAreaWrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: 500px;
  gap: $standart-number;
}

.messagesWrapper {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  align-self: flex-start;
  margin-top: $standart-number;
  border: $normal-border solid $dusty-color;
  border-radius: $standart-number;
  padding: $small-number;
  padding-right: 5px;
  width: 65%;
  min-height: 625px;
  font-size: $small-number * 1.5;
}

.userMessage {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.listWrapper {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  align-self: flex-start;
  margin-top: $standart-number;
  border: $normal-border solid $dusty-color;
  border-radius: $standart-number;
  padding: $small-number;
  padding-right: 5px;
  width: 35%;
  height: 100%;
  min-height: 625px;
  max-height: 625px;
  font-size: $small-number * 1.5;
}

.userListWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  max-height: 575px;
  font-size: clamp(calc($small-number), 2vw, $small-number * 1.5);
}

.searchField {
  margin-right: $small-number;
  margin-bottom: $small-number;
  border: $normal-border solid $dusty-color;
  border-radius: $standart-number;
  padding: calc($small-number / 2);
  padding-left: $small-number;
  font-size: $small-number * 1.5;
  color: $dusty-color;
}

.searchField:focus {
  outline: none;
  border-color: $dark-color;
  padding-left: $small-number;
  font-size: $small-number * 1.5;
  color: $dusty-color;
}

.searchField::placeholder {
  color: $dusty-color;
}

.user {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  border-radius: $small-number;
  padding: calc($small-number / 2);
  transition-duration: 0.5s;
}

.user .login {
  margin-right: $small-number;
}

.messagesIndicator {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin: 0;
  border: $normal-border solid $dusty-color;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: calc($small-number / 1.2);
  text-align: center;
}

.user:hover {
  background-color: $light-color-transparent;
  transition-duration: 0.5s;
  cursor: pointer;
}

.statusIndicator {
  margin-right: $small-number;
  border-radius: 50%;
  width: calc($small-number / 2);
  height: calc($small-number / 2);
}

.online {
  background-color: $contrast-color;
}

.offline {
  background-color: $dark-color;
}

.userListWrapper::-webkit-scrollbar {
  width: 5px;
}

.userListWrapper::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $lightest-color;
}

.userListWrapper::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  background: $light-color-transparent;
  cursor: pointer;
}

.userListWrapper::-webkit-scrollbar-track {
  border-radius: 5px;
}

.userListWrapper::-webkit-scrollbar-thumb:active {
  background: $light-color;
}
