@import '../../../../../styles/colors.module';
@import '../../../../../styles/fonts.module';
@import '../../../../../styles/numbers.module';
@import '../../../../../styles/shadows.module';

.messagesWrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.message {
  display: flex;
  flex-flow: column wrap;
  margin: 2px $small-number;
  border-radius: $small-number;
  padding: $small-number;
  max-width: fit-content;
  max-height: fit-content;
  font-family: $base-font;
  cursor: default;
}

.messageText.current {
  justify-content: flex-end;
}

.statusWrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.messageTime,
.senderName {
  display: flex;
  align-items: center;
  margin-bottom: calc($small-number / 2);
  font-style: italic;
  font-size: calc($small-number / 1.1);
}

.editedStatus {
  display: flex;
  align-items: center;
  margin-right: $small-number;
  font-style: italic;
  font-size: calc($small-number / 1.1);
}

.messageTime {
  margin: 0 $small-number;
}

.messageText {
  flex-wrap: wrap;
  overflow-wrap: break-word;
  margin: 0;
  margin-bottom: calc($small-number / 2);
  padding: 0;
  max-width: 100%;
  word-break: break-all;
  word-wrap: break-word;
}

.current {
  align-self: flex-end;
  text-align: end;
  background-color: $white;
}

.partner {
  align-self: flex-start;
  text-align: start;
  background-color: $light-color-transparent;
}

.messageDelete {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.messageDelete:hover {
  cursor: pointer;
}

.deliveryStatus {
  display: flex;
  align-items: center;
  font-size: $small-number * 1.5;
}

.deliveryStatus.partner {
  display: none;
}

.messagesWrapper::-webkit-scrollbar {
  width: 5px;
  background: $lightest-color;
}

.messagesWrapper::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $light-color-transparent;
}

.messagesWrapper::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  background: $light-color-transparent;
  cursor: pointer;
}

.messagesWrapper::-webkit-scrollbar-track {
  border-radius: 5px;
}

.messagesWrapper::-webkit-scrollbar-thumb:active {
  background: $light-color;
}

.statusWrapper.current {
  display: flex;
  justify-content: flex-end;
}
